
{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<br><br>
<form method="post">
    {% csrf_token %}
    <h3 class="title is-3">{{ object.company_name }}を削除しますか？</h1>

    <table class="table table-sm table-bordered table-responsive">
        <tbody>
            <tr>
                <th>会社名</th>
                <td>{{ object.company_name }}</td>
            </tr>
            <tr>
                <th>登録した質問数</th>
                <td>{{ ES_number }}</td>
            </tr>
        </tbody>
    </table>
    <div class="block">
        <button type="submit" class="button is-warning">削除する</button>
    </div>
    <div class="block">
        <a href="{% url 'es_list' pk=object.id %}" class="button is-link">戻る</a>
    </div>
</form>



{% endblock %}