{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ESupporter</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% block css %}
        {% endblock %} 
    </head>
	<body>
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'mypage' %}">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>
            
                <div id="navbarBasicExample" class="navbar-menu">
                {% if user.is_authenticated %}
                <div class="navbar-start">
                    <a href="{% url 'company_list' %}" class="navbar-item">
                    ES管理
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                    <a href="{% url 'question_list' %}" class="navbar-link">
                        AI文章要約
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                        あ
                        </a>
                        <a class="navbar-item">
                        Jobs
                        </a>
                        <a class="navbar-item">
                        Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                        Report an issue
                        </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                    <div class="buttons">
                        <a href="{% url 'logout' %}" class="button is-danger">
                        <strong>ログアウト</strong>
                        </a>
                    </div>
                    </div>
                </div>
                {% else %}
                
                <div class="navbar-end">
                    <div class="navbar-item">
                    <div class="buttons">
                        <a href="{% url 'signup' %}"  class="button is-primary">
                        <strong>Sign up</strong>
                        </a>
                        <a href="{% url 'login' %}" class="button is-light">
                        Log in
                        </a>
                    </div>
                    </div>
                </div>
                {% endif %}
            </nav>
            {% block content %}
            {% endblock %} 
        </div>
    </body>

    {% block js %}
    {% endblock %}
</html>