{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}


<br><br>
{% if error %}

<div class="block">
<div class="notification is-danger">
    <p>{{ error }}</p>
</div>
</div>

{% endif %}


<form method="POST" class="box has-text-centered">
{% csrf_token %}
<div class="field">
    <label class="label">メールアドレス</label>
    <div class="control">
       {{ form.username }}
    </div>
  </div>
  <div class="field">
    <label class="label">パスワード</label>
    <div class="control">
        {{ form.password }}
    </div>
  </div>

<br></br>

<button type="submit" class="button is-primary">ログイン</button>
<a href="{% url 'index'%}" class="button is-primary">戻る</a>
<a href="{% url 'index'%}" class="button is-primary">新規登録</a>


</form>


</div>

{% endblock %}




